<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="none">
        <ion-item>
            <ion-input id="aesKeyInput" type="text" placeholder="AES Key" [(ngModel)]="aesKeyValue"></ion-input>
            <ion-button id="aesKeySwitch" (click) = "switchFormat('aesKey')">Switch to Base64</ion-button>
        </ion-item>
        <ion-item>
            <ion-input id="payloadInput" type="text" placeholder="Payload" [(ngModel)]="payloadValue"></ion-input>
            <ion-button id="payloadSwitch" (click) = "switchFormat('payload')">Switch to Base64</ion-button>
        </ion-item>
        <ion-button class = "myButton" shape="round" color="primary" fill="outline" (click)="postToServerDec()" margin>Submit</ion-button>
        <ion-label *ngIf="statusLabel != null">{{statusLabel}}</ion-label>
    </ion-list>
    
    <ion-label *ngIf="result != null">AES Key: {{this.finalAesKeyValue}}</ion-label>
    <br>
    <ion-label *ngIf="result != null">Payload: {{this.finalPayloadValue}}</ion-label>
    <br>
    <ion-label *ngIf="result != null">Plain: {{result.payload}}</ion-label>
    
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>