<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="none">
        <ion-item>
            <ion-input type="text" placeholder="AES Key" [(ngModel)]="aesKeyValue"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" placeholder="Payload" [(ngModel)]="payloadValue"></ion-input>
        </ion-item>
        <ion-button shape="round" color="primary" fill="outline" (click)="postToServerDec()">Submit</ion-button>
    </ion-list>
    
    <ion-label *ngIf="result != null">AES Key: {{this.aesKeyValue}}</ion-label>
    <br>
    <ion-label *ngIf="result != null">Payload: {{this.payloadValue}}</ion-label>
    <br>
    <ion-label *ngIf="result != null">Plain: {{result.payload}}</ion-label>
    
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
