<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Enc
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="none">
        <ion-item>
            <ion-input type="text" placeholder="Start Date" [(ngModel)]="startDateValue"></ion-input>
        </ion-item> 
        <ion-item>
            <ion-input type="text" placeholder="End Date" [(ngModel)]="endDateValue"></ion-input>
        </ion-item> 
        <ion-item>
            <ion-input id="accessRightsInput" type="text" placeholder="Access Right" [(ngModel)]="accessRightValue" ></ion-input>
            <ion-button id="accessRightsSwitch" (click) = "switchFormat('accessRights')">Switch to Base64</ion-button>
        </ion-item> 
        <ion-item>
            <ion-input id="aesKeyInput" type="text" placeholder="AES Key" [(ngModel)]="aesKeyValue"></ion-input>
            <ion-button id="aesKeySwitch" (click) = "switchFormat('aesKey')">Switch to Base64</ion-button>
        </ion-item>
        <ion-item>
            <ion-button class = "myButton" id="showButton" (click) = "showOrHideGrid()" margin>Show</ion-button>
            <ion-label *ngIf="statusLabel != null">{{statusLabel}}</ion-label>
        </ion-item>
        <br>
        <ion-grid style="display:none" id="grid">
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-checkbox class="myCheckBox" color="primary" (ionChange) = "updatePermissionsList('UNLOCK')" checked></ion-checkbox>
                        <ion-label padding><ion-icon name="unlock"></ion-icon>Unlock</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col>
                <ion-item>
                        <ion-checkbox class="myCheckBox" color="primary" (ionChange) = "updatePermissionsList('SET_TIME')"></ion-checkbox>
                        <ion-label padding><ion-icon name="clock"></ion-icon>Set Time</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col><ion-item>
                        <ion-checkbox class="myCheckBox" color="primary" (ionChange) = "updatePermissionsList('GET_TIME')"></ion-checkbox>
                        <ion-label padding><ion-icon name="time"></ion-icon>Get Time</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-checkbox class="myCheckBox" color="primary" (ionChange) = "updatePermissionsList('GET_BATTERY_LEVEL')"></ion-checkbox>
                        <ion-label padding><ion-icon name="battery-full"></ion-icon>Get Battery Level</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-checkbox class="myCheckBox" color="primary" (ionChange) = "updatePermissionsList('GET_LOCK_STATUS')"></ion-checkbox>
                        <ion-label padding><ion-icon name="stats"></ion-icon>Get Lock Status</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-checkbox class="myCheckBox" color="primary" (ionChange) = "updatePermissionsList('SET_VOLUME')"></ion-checkbox>
                        <ion-label padding><ion-icon name="volume-high"></ion-icon>Set Volume Level</ion-label>
                    </ion-item></ion-col>
                <ion-col>
                    <ion-item>
                        <ion-checkbox class="myCheckBox" color="primary" (ionChange) = "updatePermissionsList('RESET_LOCK')"></ion-checkbox>
                        <ion-label padding><ion-icon name="refresh"></ion-icon>Reset Lock</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-checkbox class="myCheckBox" color="primary" (ionChange) = "updatePermissionsList('SET_AUTORELOCK')"></ion-checkbox>
                        <ion-label padding><ion-icon name="repeat"></ion-icon>Set AutoRelock</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-checkbox class="myCheckBox" color="primary" (ionChange) = "updatePermissionsList('SET_MAX_INCORRECT_PINS')"></ion-checkbox>
                        <ion-label padding><ion-icon name="link"></ion-icon>Set Max Incorrect Pins</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-checkbox class="myCheckBox" color="primary" (ionChange) = "updatePermissionsList('GET_LOGS')"></ion-checkbox>
                        <ion-label padding><ion-icon name="journal"></ion-icon>Get Logs</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-checkbox class="myCheckBox" color="primary" (ionChange) = "updatePermissionsList('CREATE_PIN')"></ion-checkbox>
                        <ion-label padding><ion-icon name="add-circle"></ion-icon>Create Pin</ion-label>
                    </ion-item></ion-col>
                <ion-col>
                    <ion-item>
                        <ion-checkbox class="myCheckBox" color="primary" (ionChange) = "updatePermissionsList('EDIT_PIN')"></ion-checkbox>
                        <ion-label padding><ion-icon name="create"></ion-icon>Edit Pin</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-checkbox class="myCheckBox" color="primary" (ionChange) = "updatePermissionsList('DELETE_PIN')"></ion-checkbox>
                        <ion-label padding><ion-icon name="trash"></ion-icon>Delete Pin</ion-label>
                    </ion-item></ion-col>
                <ion-col>
                    <ion-item>
                        <ion-checkbox class="myCheckBox" color="primary" (ionChange) = "updatePermissionsList('SET_MASTER_PIN')"></ion-checkbox>
                        <ion-label padding><ion-icon name="keypad"></ion-icon>Set Master Pin</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-checkbox class="myCheckBox" color="primary" (ionChange) = "updatePermissionsList('LOCK')"></ion-checkbox>
                        <ion-label padding><ion-icon name="lock"></ion-icon>Lock</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-checkbox class="myCheckBox" color="primary" (ionChange) = "updatePermissionsList('ENABLE_AUTOUNLOCK')"></ion-checkbox>
                        <ion-label padding><ion-icon name="switch"></ion-icon>Enable AutoUnlock</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-checkbox class="myCheckBox" color="primary" (ionChange) = "updatePermissionsList('BLACKLIST_GUEST_KEY')"></ion-checkbox>
                        <ion-label padding><ion-icon name="sad"></ion-icon>Blacklist Guest Key</ion-label>
                    </ion-item></ion-col>
                <ion-col>
                    <ion-item>
                        <ion-checkbox class="myCheckBox" color="primary" (ionChange) = "updatePermissionsList('UNBLACKLIST_GUEST_KEY')"></ion-checkbox>
                        <ion-label padding><ion-icon name="happy"></ion-icon>Unblacklist Guest Key</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-checkbox class="myCheckBox" color="primary" (ionChange) = "updatePermissionsList('ENABLE_DFU')"></ion-checkbox>
                        <ion-label padding><ion-icon name="sync"></ion-icon>Enable DFU</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col>
                <ion-item>
                        <ion-checkbox class="myCheckBox" color="primary" (ionChange) = "updatePermissionsList('SET_DAYLIGHT_SAVINGS')"></ion-checkbox>
                    <ion-label padding><ion-icon name="sunny"></ion-icon>Set Daylight Savings</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-checkbox class="myCheckBox" color="primary" (ionChange) = "updatePermissionsList('ADD_CARD')"></ion-checkbox>
                        <ion-label padding><ion-icon name="add-circle-outline"></ion-icon>Add Card</ion-label>
                    </ion-item></ion-col>
                <ion-col>
                    <ion-item>
                        <ion-checkbox class="myCheckBox" color="primary" (ionChange) = "updatePermissionsList('DELETE_CARD')"></ion-checkbox>
                        <ion-label padding><ion-icon name="close-circle-outline"></ion-icon>Delete Card</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-checkbox class="myCheckBox" color="primary" (ionChange) = "updatePermissionsList('SET_BRIGHTNESS')"></ion-checkbox>
                        <ion-icon name="bulb" margin></ion-icon><ion-label>Set Brightness</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col>
                </ion-col>
            </ion-row>
        </ion-grid>
        
        <ion-button shape="round" color="success" (click)="postToServer()">Submit</ion-button>
    </ion-list>
    
    <ion-label *ngIf="result != null">Start Date: {{result.startDate}}</ion-label>
    <br>
    <ion-label *ngIf="result != null">End Date: {{result.endDate}}</ion-label>
    <br>
    <ion-label *ngIf="result != null">Access Right: {{result.accessRight}}</ion-label>
    <br>
    <ion-label *ngIf="result != null">AES Key (In Hex): {{finalAesKeyValue}}</ion-label>
    <br>
    <ion-label *ngIf="result != null">Key ID: {{result.keyId}}</ion-label>
    <br>
    <ion-label *ngIf="result != null">Nonce: {{result.nonce}}</ion-label>
    <br>
    <ion-label *ngIf="result != null">Guest AES Key: {{result.guestAesKey}}</ion-label>
    <br>
    <ion-label *ngIf="result != null">Plain: {{result.plainToken}}</ion-label>
    <br>
    <ion-label *ngIf="result != null">Payload: {{result.payload}}</ion-label>
</ion-content>