$grid-columns:   12 !default;

$grid-padding-width: 10px !default;

$grid-padding-widths: (
  xs: $grid-padding-width,
  sm: $grid-padding-width,
  md: $grid-padding-width,
  lg: $grid-padding-width,
  xl: $grid-padding-width
) !default;

myCheckBox {
	border-radius: 20px;
    margin: 100px;
}

.ion-5x:before {
  position: relative;
  font-size: 5em;
}

ion-button.myButton {
    margin: 0px 50px 0px 0px;
}

ion-icon {
    font-size: 20px;
    margin-right: 8px;
}

ion-input[disabled] {
    opacity: 1.0;
   -webkit-text-fill-color:#880000
}