<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="none">
        <ion-item>
            <ion-input type="text" placeholder="Start Date" [(ngModel)]="startDateValue"></ion-input>
        </ion-item> 
        <ion-item>
            <ion-input type="text" placeholder="End Date" [(ngModel)]="endDateValue"></ion-input>
        </ion-item> 
        <ion-item>
            <ion-input type="text" placeholder="Access Right" [(ngModel)]="accessRightValue"></ion-input>
        </ion-item> 
        <ion-item>
            <ion-input type="text" placeholder="AES Key" [(ngModel)]="aesKeyValue"></ion-input>
        </ion-item>
        <ion-button shape="round" color="primary" fill="outline" (click)="postToServer()">Submit</ion-button>
    </ion-list>
    
    <ion-label *ngIf="result != null">Start Date: {{result.startDate}}</ion-label>
    <br>
    <ion-label *ngIf="result != null">End Date: {{result.endDate}}</ion-label>
    <br>
    <ion-label *ngIf="result != null">Access Right: {{result.accessRight}}</ion-label>
    <br>
    <ion-label *ngIf="result != null">AES Key: {{aesKeyValue}}</ion-label>
    <br>
    <ion-label *ngIf="result != null">Key ID: {{result.keyId}}</ion-label>
    <br>
    <ion-label *ngIf="result != null">Nonce: {{result.nonce}}</ion-label>
    <br>
    <ion-label *ngIf="result != null">Guest AES Key: {{result.guestAesKey}}</ion-label>
    <br>
    <ion-label *ngIf="result != null">Plain: {{result.plainToken}}</ion-label>
    <br>
    <ion-label *ngIf="result != null">Payload: {{result.payload}}</ion-label>
</ion-content>
